<?xml version="1.0"?>

<model>
  <name>Marker</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  

  <author>
    <name>Darius Miskinis</name>
    <email>darius.miskinis.mail@gmail.com</email>
  </author>

  <description>
    A model of an ar_pose marker.
  </description>

</model>
