<?xml version="1.0"?>
<launch>

	<!-- Gazebo simulation with yard to land -->
  	<include file="$(find cvg_sim_gazebo)/launch/landing_simulation.launch"/>

	<!-- Control GUI -->
	<include file="$(find uga_tum_ardrone)/launch/gazebo_control.launch"/>

	<!-- Marker detection -->
	<include file="$(find ar_pose)/launch/gazebo_ar_pose_transformation.launch"/>
	
	<!-- Dynamic parameter reconfigure GUI -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

</launch>

